<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" >
<title>订单列表</title>
<link rel="stylesheet" type="text/css" href="../../public/admin/Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../../public/admin/Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../../public/admin/Assets/css/thems.css">
<link rel="stylesheet" type="text/css" href="../../public/admin/Assets/css/jquery.datetimepicker.css">
<script type="text/javascript" src="../../public/admin/Assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../public/admin/Assets/js/jquery.datetimepicker.js"></script>
<script type="text/javascript">
$(function(){
	//自适应屏幕宽度
	window.onresize=function(){ location=location }; 
	
	var main_h = $(window).height();
	$('.hy_list').css('height',main_h-45+'px');
	
	var search_w = $(window).width()-40;
	$('.search').css('width',search_w+'px');
	//$('.list_hy').css('width',search_w+'px');
	$('#zengjia').click(function(){
	   var cxsj=$("#cxsj").val();
	   var ddsj=$("#ddsj").val();
	   if(cxsj==""){alert("订单号不能为空！"); return}
	   if(ddsj==""){alert("订单号的时间不能为空！"); return}
	   $("#formtj").submit();
     });
});
</script>
<!--框架高度设置-->
<style>
.page ul li{ float:left;   margin-right:10px;  height: 30px; line-height:30px; border:1px solid #DEDEDE; }
.page .disabled { line-height:25px; }
.page .active { line-height:25px;  color: #FFF; background: #3D89CB; }
.r_foot_m .page{  border: none; padding-left:15px; padding-right:10px; }
.zengjia{  height: 30px;width: 70px;text-align:center;border-radius:5px; line-height:30px; display:block; color: #FFF; background: #3D89CB;  float:left;  margin-left:25px; margin-top:35px; }
.quxiao{ height: 30px;width: 70px; float:left;  text-align:center;border-radius:5px; line-height:30px; display:block; color: #656565;  margin-left:25px; margin-top:35px; border:1px solid #DEDEDE; }
.search {height:auto; padding-left:10px; padding-bottom:100px;}
.shuru {  height: 25px; line-height:25px;padding-left:3px; }
</style>
</head>
<body onLoad="Resize();">
<div id="right_ctn">
	<div class="right_m">
		<!--会议列表-->
        <div class="hy_list">
        	<div class="box_t">
			{if condition="$orderea  eq  0"}
            	<span class="name">增加信息</span>
            {else /}
                <span class="name">修改信息</span>
			{/if}
                <!--当前位置-->
                <div class="position">
                	<a href=""><img src="../../public/admin/Assets/images/icon5.png" alt=""/></a>
                    <a href="">首页</a>
                    <span><img src="../../public/admin/Assets/images/icon3.png" alt=""/></span>
                    <a href="">订单管理</a>
                    <span><img src="../../public/admin/Assets/images/icon3.png" alt=""/></span>
                    <a href="">订单统计</a>
					<span><img src="../../public/admin/Assets/images/icon3.png" alt=""/></span>
                   {if condition="$orderea  eq  0"}
				   <a href="">增加信息</a>
				   {else /}
                   <a href="">修改信息</a>
				   {/if}
                </div>
                <!--当前位置-->
            </div>
            <!--查询-->
            <div class="search">
           {if condition="$orderea  eq  0"}
			<form action="../../admin/index/adddata" id="formtj" method="post">
                <div>订 单 号：<input name="OrderNum" id="OrderNum" class="shuru" readonly value="{$OrderNum}" type="text" >&nbsp;<span class="NotPaidNuminfo">当前未交数量：{$NotPaidNuminfo}</span></div>
				<div>送货单号：<input name="ExpressNum" id="ExpressNum" class="shuru" type="text" ></div>
				<div>数　　量：<input name="NumData" id="NumData" class="shuru" type="text" ></div>
				<div>时　　间：<input name="DataTime" id="DataTime" class="shuru" readonly  type="text"></div>
                <div>
				状　　态：<select id="Type" name="Type" style="width: 100px;">
                        <option value="0">发货</option>
                        <option value="1">退货</option>
                       </select>
				</div>  
				<div>备　　注：
				<textarea rows="3" cols="20" name="Remarks"  class="shurutet" ></textarea>
				</div>
               <a href="javascript:;" id="zengjia" class="zengjia">增加</a>
			   <a href="javascript:;" onclick="javascript:void(history.back())"  id="" class="quxiao">返回</a>
			   <input type="hidden" name="cid" value="{$cid}" />
			</form>
			{else /}
			  <form action="../../admin/index/editdata" id="formtj" method="post">
                 <div>订 单 号：<input name="OrderNum" id="OrderNum" class="shuru" readonly value="{$OrderNum}" type="text" >&nbsp;<span class="NotPaidNuminfo">当前未交数量：{$NotPaidNuminfo}</span></div>
				<div>送货单号：<input name="ExpressNum" id="ExpressNum" class="shuru" type="text" value="{$orderlist.ExpressNum}"  ></div>
				<div>数　　量：<input name="NumData" id="NumData" class="shuru" type="text" value="{$orderlist.NumData}"  ></div>
				<div>时　　间：<input name="DataTime" id="DataTime" class="shuru" readonly value="{$orderlist.DataTime}"  type="text"></div>
                <div>
				状　　态：<select id="Type" name="Type" style="width: 100px;">
                        <option value="0" {if condition="$orderlist.Type  eq  0"} selected = "selected" {/if} >发货</option>
                        <option value="1" {if condition="$orderlist.Type  eq  1"} selected = "selected" {/if} >退货</option>
                       </select>
				</div>  
				<div>备　　注：
				<textarea rows="3" cols="20" name="Remarks"  class="shurutet" >{$orderlist.Remarks}</textarea>
				</div>
               <a href="javascript:;" id="zengjia" class="zengjia">修改</a>
			   <a href="javascript:;" onclick="javascript:void(history.back())"  id="" class="quxiao">返回</a>
			   <input type="hidden" name="id" value="{$id}" />
			   <input type="hidden" name="cid" value="{$cid}" />
			</form>
			 {/if}
            </div>
            <!--查询-->
            <div class="space_hx">&nbsp;</div>
            <!--列表-->
        </div>
        <!--会议列表-->
    </div>
</div>
<script>
    $('#DataTime').datetimepicker({
      format:"Y-m-d H:i",      //格式化日期
      todayButton:false    //关闭选择今天按钮
});
  </script>
</body>
</html>
